<div id="overlayItem" class="fullscreen">
    <div id=userForm class="center short-section section header-gray" >
        <h2>User Details</h2>
        <div class=section-content>
            <div id=userDetails >
                
            </div>
            <div class=inputArea>
                <button class="button" id="cancelButton" >
                    <a>Close</a>
                </button>
                <button class="button" id="doneButton" >
                    <a>Done</a>
                </button>
            </div>
        </div>
    </div>
</div>