<!DOCTYPE html>
<html>
    <head>
        <%- include ('../header.html') %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css" >
        <link rel="stylesheet" href="infopane.css" >
        <link rel="stylesheet" href="loginPage.css" >
        
    </head>
    <body>
        <div id=content>
            <div id=central>
                <div id=loginForm class="short-section section header-gray" >
                    <h2>Login</h2>
                    <div class=section-content>
                        <div class=inputArea>
                            <input id=username placeholder="Email">
                            <input id=password type="password" placeholder="Password">
                            <button id=doneButton>
                                <a>Done</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>