.topicListItem{
    width: 100%;
    text-align: left;
    display: inline-block;
    border-bottom: 1px solid rgb(75,75,75);
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.listThreadHeader{
width: 100%;
}
.listThreadHeader h2{
    display: inline-block;
    text-overflow: ellipsis;
    max-width: 50%;
}
.listThreadContent{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 8px;
    width: 97%;
}
.listThreadUser{
    float:right;
    margin-right: 10px;
}
.section-content{
    max-height: 50vh;
    overflow-y: auto;
}
.endListItem{
    margin: 10px;
    color: rgb(125,125,125);
}